services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.dev
    container_name: tricount-backend-dev
    ports:
      - "5001:5000"
    restart: always
    volumes:
      - ./backend:/app/backend
      - ./data:/app/data
    env_file:
      - .env

  frontend:
      build:
        context: ./frontend
        dockerfile: Dockerfile.dev
      container_name: tricount-frontend-dev
      ports:
        - "5173:5173"
      volumes:
        - ./frontend:/app
        - /app/node_modules
      depends_on:
        - backend
      restart: always
      command: npm run dev
