services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: tricount-backend
    ports:
      - "5001:5000"
    restart: always
    volumes:
      - ./data:/app/data

  frontend:
      build:
        context: ./frontend
        dockerfile: Dockerfile.dev
      container_name: tricount-frontend
      ports:
        - "5173:5173"
      volumes:
        - ./frontend:/app
        - /app/node_modules
      depends_on:
        - backend
      restart: always
      command: npm run dev
