services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.prod
    container_name: tricount-backend
    ports:
      - "5001:5000"
    restart: always
    volumes:
      - data:/app/data
    env_file:
      - .env
  frontend:
      build:
        context: ./frontend
        dockerfile: Dockerfile.prod
      container_name: tricount-frontend
      ports:
        - "5173:80"
      depends_on:
        - backend
      restart: always

volumes:
  data:
