services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: tricount-backend
    ports:
      - "5000:5000"
    restart: always
    volumes:
      - ./data:/app/data

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: tricount-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always
    command: /bin/sh -c "echo 'App running at http://localhost:5173' && nginx -g 'daemon off;'"
